<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Spotify Test Runs</title>
</head>

<body>
    <div id="change">
        Hello!
        <br><br>
        <%- result %>
    </div>
</body>